apiVersion: v1
kind: Service
metadata:
  name: wechat-scraper
  labels:
    app: wechat-scraper
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: wechat-scraper